/* ======================
   Cart page styles
   ====================== */

/* Base styles for the not-authenticated container */
.not-authenticated {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 108px 20px;
}

/* Styles for the headings inside the not-authenticated container */
.not-authenticated h1 {
  color: #333;
}

/* Base styles for the links inside the not-authenticated container */
.not-authenticated a {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(0, 128, 0);
  border: 1px solid #555;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.3s;
}

/* Hover effect for the links */
.not-authenticated a:hover {
  opacity: 0.7;
}
